@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #274d7d;
}
:root {
  --yellow: #f2c200;
  --light-blue: #f3f9ff;
  --dark-blue: #274d7d;
  font-family: "Roboto", sans-serif;
}
body {
  position: relative;
}
.header {
  width: 100%;
  height: 5rem;
  background-color: var(--yellow);
  color: var(--dark-blue);
  border-bottom: 1px solid var(--dark-blue);
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  position: fixed;
}
.avatar {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background-color: var(--dark-blue);
  margin-left: auto;
}
.page-container {
  background-color: var(--yellow);
  display: grid;
  grid-template-columns: minmax(220px, 300px) 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  min-height: 100vh;
  padding-top: 6rem;
}
.sidebar {
  /* width: 220px; */
  padding: 1rem;
  grid-column: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.project-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.card,
.description-modal {
  background-color: white;
  border: 1px solid var(--dark-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.card > ul {
  margin: 0 1rem;
  list-style-type: none;
}
.card li:not(:last-of-type) {
  margin-bottom: 0.3rem;
}
.card > h3 {
  margin-bottom: 1rem;
  padding: 0.7rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid var(--dark-blue);
}
.del-project-btn,
.description-modal-btn {
  background-color: transparent;
  border: none;
  border-top: 1px solid var(--dark-blue);
  margin-top: 1rem;
  padding: 0.3rem 0 0.4rem 0;
  cursor: pointer;
}
.new-project {
  background-color: white;
  font-weight: 600;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.1s;
}
.new-project:active {
  background-color: transparent;
}
.main {
  grid-column: 2;
  padding: 1rem 3rem 1rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.project-expanded {
  background-color: white;
  flex: 0 1 1000px;
  border: 1px solid var(--dark-blue);
  border-radius: 10px;
  min-height: 10rem;
  padding: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.project-expanded > ul {
  list-style-type: none;
}
.project-expanded li {
  padding: 0 1rem;
  margin-bottom: 0.3rem;
  display: flex;
}
/* .project-expanded li:nth-of-type(odd) {
  background-color: var(--banana);
} */
.project-expanded-title,
.project-expanded-title:focus {
  background-color: transparent;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem 2rem 0.5rem 2rem;
  border: none;
  border-bottom: 1px solid var(--dark-blue);
  border-radius: 10px 10px 0 0;
  outline: none;
  margin-bottom: 2rem;
}
.new-task-btn {
  padding: 0.5rem 2rem;
  border: none;
  border-top: 1px solid var(--dark-blue);
  border-bottom: 1px solid var(--dark-blue);
  border-radius: none;
  background-color: transparent;
  color: var(--dark-purple);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.1s;
  margin: 1rem 0;
}
.new-task-btn:active {
  background-color: var(--yellow);
}

.task-input:not([type="checkbox"]),
.task-input:not([type="checkbox"]):focus {
  background-color: transparent;
  width: 10ch;
  margin-right: 1rem;
  border: none;
  outline: none;
}
.task-input[type="text"] {
  max-width: 18ch;
  text-overflow: ellipsis;
}
select.task-input:has(option[value="high"]:checked) {
  background-color: rgb(255, 179, 169);
}
select.task-input:has(option[value="normal"]:checked) {
  background-color: rgb(255, 234, 163);
}
select.task-input:has(option[value="low"]:checked) {
  background-color: rgb(185, 239, 255);
}
.completed-task-container > .task-item {
  opacity: 0.6;
}
/* .completed-task-container > .task-item::after {
  content: " ";
  display: block;
  margin-left: 1rem;
  height: 1px;
  background-color: var(--dark-blue);
  transform: translateY(-0.8rem);
} */
input[type="checkbox"] {
  accent-color: var(--dark-blue);
  margin-right: 0.5rem;
}
.description-modal-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff55;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.description-modal-textarea {
  width: 500px;
  height: fit-content;
  min-height: 10rem;
  outline: none;
  resize: none;
  border: none;
  background-color: transparent;
  padding: 1rem;
}
