@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #274d7d;
}
:root {
  --yellow: #f2c200;
  --light-blue: #f3f9ff;
  --dark-blue: #274d7d;
}
.page-container {
  background-color: var(--yellow);
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}
.header {
  color: var(--dark-blue);
  border-bottom: 1px solid var(--dark-blue);
  font-size: 3rem;
  font-weight: bold;
  grid-column: span 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
}
.sidebar {
  width: 220px;
  padding: 1rem;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.project-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.card {
  background-color: white;
  border: 1px solid var(--dark-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.card > ul {
  margin: 0 1rem 0 2rem;
}
.card li:not(:last-of-type) {
  margin-bottom: 0.3rem;
}
.card > h3 {
  margin-bottom: 1rem;
  padding: 0.7rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid var(--dark-blue);
}
.del-project-btn {
  background-color: transparent;
  border: none;
  border-top: 1px solid var(--dark-blue);
  margin-top: 1rem;
  padding: 0.3rem 0 0.4rem 0;
  cursor: pointer;
}
.new-project {
  background-color: white;
  font-weight: 600;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.1s;
}
.new-project:active {
  background-color: transparent;
}
.main {
  grid-column: 2;
  grid-row: 2;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.project-expanded {
  background-color: white;
  flex: 0 1 800px;
  border: 1px solid var(--dark-blue);
  border-radius: 10px;
  min-height: 10rem;
  padding: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.project-expanded > ul {
  list-style-type: none;
}
.project-expanded li {
  padding: 0 1rem;
  margin-bottom: 0.3rem;
  display: flex;
}
/* .project-expanded li:nth-of-type(odd) {
  background-color: var(--banana);
} */
.project-expanded-title,
.project-expanded-title:focus {
  background-color: transparent;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem 2rem 0.5rem 2rem;
  border: none;
  border-bottom: 1px solid var(--dark-blue);
  border-radius: 10px 10px 0 0;
  outline: none;
  margin-bottom: 2rem;
}
.new-task-btn {
  padding: 0.5rem 2rem;
  border: none;
  border-top: 1px solid var(--dark-blue);
  border-bottom: 1px solid var(--dark-blue);
  border-radius: none;
  background-color: transparent;
  color: var(--dark-purple);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.1s;
  margin: 1rem 0;
}
.new-task-btn:active {
  background-color: var(--yellow);
}

.task-input:not([type="checkbox"]),
.task-input:not([type="checkbox"]):focus {
  background-color: transparent;
  max-width: 10ch;
  margin-right: 1rem;
  border: none;
  outline: none;
}
.task-input[type="text"] {
  max-width: 18ch;
}
.completed-task-container > .task-item {
  opacity: 0.6;
}
/* .completed-task-container > .task-item::after {
  content: " ";
  display: block;
  margin-left: 1rem;
  height: 1px;
  background-color: var(--dark-blue);
  transform: translateY(-0.8rem);
} */
input[type="checkbox"] {
  accent-color: var(--dark-blue);
  margin-right: 0.5rem;
}
