@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #274d7d;
}
:root {
  --yellow: #f2c200;
  --dark-blue: #274d7d;
  font-family: "Roboto", sans-serif;
}
body {
  position: relative;
}
.header {
  width: 100%;
  height: 5rem;
  background-color: var(--yellow);
  color: var(--dark-blue);
  border-bottom: 1px solid var(--dark-blue);
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  position: fixed;
  z-index: 1;
}
.avatar {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background-color: var(--dark-blue);
  margin-left: auto;
}
.page-container {
  background-color: var(--yellow);
  display: grid;
  grid-template-columns: minmax(220px, 300px) 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  min-height: 100vh;
  padding-top: 6rem;
  overflow-x: hidden;
}
.sidebar {
  /* width: 220px; */
  padding: 1rem;
  grid-column: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.project-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.card,
.description-modal {
  background-color: white;
  border: 1px solid var(--dark-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.card > ul {
  margin: 0 1rem;
  list-style-type: none;
}
.card li:not(:last-of-type) {
  margin-bottom: 0.3rem;
}
.card > h3 {
  margin-bottom: 1rem;
  padding: 0.7rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid var(--dark-blue);
}
.card input[type="checkbox"] {
  margin-right: 1ch;
}
.del-project-btn,
.description-modal-btn {
  background-color: transparent;
  border: none;
  border-top: 1px solid var(--dark-blue);
  margin-top: 1rem;
  padding: 0.3rem 0 0.4rem 0;
  cursor: pointer;
}
.new-project,
.pseudo-project {
  background-color: white;
  font-weight: 600;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.1s;
}
.new-project:active {
  background-color: transparent;
}
.pseudo-project {
  min-height: 1.5rem;
  flex-direction: row;
}
.pseudo-project::before {
  content: " ";
  border-radius: 50%;
  height: 0.8rem;
  width: 0.8rem;
  background-color: #fe6955;
  margin-right: 1ch;
}
.today::before {
  background-color: #78dfff;
}
.main {
  grid-column: 2;
  padding: 1rem 3rem 1rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.project-expanded {
  background-color: white;
  flex: 0 1 1000px;
  border: 1px solid var(--dark-blue);
  border-radius: 10px;
  min-height: 10rem;
  padding: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.project-expanded > ul {
  list-style-type: none;
}
.project-expanded li {
  position: relative;
  padding: 0 1rem;
  margin-bottom: 0.3rem;
  display: grid;
  grid-template-columns: auto 2fr 1fr auto auto auto;
  gap: 0.5rem;
}
.task-isCompleted {
  grid-column: 1;
}
.task-title {
  grid-column: 2;
}
.task-description {
  grid-column: 3;
  width: 13ch;
}
.task-dueDate {
  grid-column: 4;
  width: min-content;
  cursor: text;
  position: relative;
}
.task-priority {
  grid-column: 5;
  cursor: pointer;
}
.task-delete {
  grid-column: 6;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid var(--dark-blue);
  cursor: pointer;
  padding: 0.1rem 0.2rem;
}
.task-dueDate::before {
  position: absolute;
  width: 100%;
  content: attr(data-interval);
  background-color: #fff;
  z-index: 1;
}
.task-dueDate:hover::before,
.task-dueDate:focus::before {
  display: none;
}
.project-expanded-title,
.project-expanded-title:focus {
  background-color: transparent;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem 2rem 0.5rem 2rem;
  border: none;
  border-bottom: 1px solid var(--dark-blue);
  border-radius: 10px 10px 0 0;
  outline: none;
  margin-bottom: 2rem;
}
.task-input:not([type="checkbox"]),
.task-input:not([type="checkbox"]):focus {
  background-color: transparent;
  border: none;
  outline: none;
}
.task-input[type="text"] {
  text-overflow: ellipsis;
}
.task-input.task-title:focus {
  position: absolute;
  width: 85%;
  background-color: #fff;
  box-shadow: 0 0 10px 0 lightblue;
  padding: 0.5rem;
  z-index: 2;
}
input[type="checkbox"] {
  accent-color: var(--dark-blue);
}
select.task-input:has(option[value="high"]:checked) {
  background-color: #ffb3a9;
}
select.task-input:has(option[value="normal"]:checked) {
  background-color: #ffeaa3;
}
select.task-input:has(option[value="low"]:checked) {
  background-color: #b9efff;
}
.new-task-btn {
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  border-top: 1px solid var(--dark-blue);
  border-bottom: 1px solid var(--dark-blue);
  border-radius: none;
  background-color: transparent;
  color: var(--dark-purple);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.1s;
  margin: 1rem 0;
}
.new-task-btn:active {
  background-color: var(--yellow);
}
.completed-task-container > .task-item {
  opacity: 0.6;
}
.description-modal-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff55;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.description-modal-textarea {
  width: 500px;
  height: fit-content;
  min-height: 10rem;
  outline: none;
  resize: none;
  border: none;
  background-color: transparent;
  padding: 1rem;
}
